textarea {
  font-family: 'Montserrat-Regular';
  height: 260px;
}
.item__form-items, .action__form-box {
  padding-left: 2%;
  padding-right: 2%;
}
.btn__form-action {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 32px;
  padding: 12px 40px;
  font-weight: 400;
  outline: none;
  color: #fff;
  border: none;
  background: rgb(36,0,0);
  background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(210,6,223,1) 0%, rgba(85,0,255,1) 100%);

  &:hover {
    color: #aaa;
  }
}
.popup {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 0;
}
body .is__open {
  height: 100vh;
  .popup__overflow {
    transform: translateX(0);
  }
}
.popup__overflow {
  background-color: #000;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup__close {
  background: none;
  outline: none;
  border: none;
  i {
    color: #fff;
    font-size: 32px;
  }
}

.input__form-action {
  color: #fff;
  border-color: #3a3a3a;
  width: 100%;
  outline: none;
  display: block;
  font-size: 1.375rem;
  line-height: 1.42;
  background-color: transparent;
  background-image: none;
  font-weight: 400;
  color: #333;
  padding: 0.5rem 0;
  background-repeat: no-repeat;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: all .2s;
  border-bottom: 0.3125rem solid #444;
  text-transform: uppercase;

  &:hover, &:focus {
    color: white;
    border-bottom: 0.3125rem solid #5500ff;
    background-size: 20px 100%;
    background-repeat: repeat repeat;
    border-image: linear-gradient(to bottom ,90deg, #240000 0%, #d206df 0%, #5500ff 100%);
    -moz-border-image: -moz-linear-gradient(to bottom ,90deg, #240000 0%, #d206df 0%, #5500ff 100%);
    -webkit-border-image: -webkit-linear-gradient(to bottom ,90deg, #240000 0%, #d206df 0%, #5500ff 100%);
  }
}

.popup {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;

  
  &__overflow {
    background-color: #000;
    transition: transform .4s ease-in-out;
    transform: translateX(-105%);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    .popup__in {
      padding-top: 7vh;
      padding-bottom: 60px;

      .popup__top {
        flex-direction: column;
        display: flex;
        width: 100%;
        padding-bottom: 53px;

        .popup__close {
          cursor: pointer;
          align-self: flex-end;
          position: relative;
          display: block;
          width: 27px;
          height: 27px;
        }
      }
    }
    .form-box {
      max-width: 760px;
      width: 100%;
      margin: 0 auto;

      form {
        .items__form-box {
          margin-bottom: 2.5rem;
          .top__form-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item__form-items {
              padding-left: 2%;
              padding-right: 2%;
              .action__form-item {
                margin-bottom: 3.75rem;
                position: relative;
                label {
                  
                }
              }
            }
          }
        }
      }
    }
  }
}


@media print, screen and (min-width: 62em) {
  .top__form-box {
    .item__form-items {
      flex: 0 0 auto;
      width: 46%;
    }
  }
}
@media print, screen and (max-width: 62em) {
  .items__form-box {
    .item__form-items {
      width: 100%;
    }
  }
}

