
.header {
  z-index: 10000;
  transition: background-color .2s;
  left: 0;
  width: 100%;
  background: #0001;
  position: sticky;
  top: 0;

  .header__nav {
    display: flex;
    justify-content: space-between;
  }
}
.header.active {
  background-color: #000;
}
@media screen and (min-width: 1400px) {
  .header {
      margin-top: 66px;
  }
}
@media (max-width: 1200px){
  .container {
    width: 1140px;
  }
}
@media (max-width: 48em) {
  .header {
    .header__contacts {
      display: none;
    }
    .header__logo {
      height: 70px;
    }
    .header__col {
      .switch__header-lang {
        padding-left: 0;
      }
    }
  }
}

.header__logo {
  height: 100px;
}
.header__col {
  display: flex;
  align-items: center;
  z-index: 2;

  .nav__header-contacts {
    display: flex;

    .item__header-nav {
      padding: 0 20px;
    }
  }

  .switch__header-lang {
    padding-left: 30px;
  }
}


